* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-bottom: 0;
}

.p {
  margin-top: 0;
  margin-bottom: 0;
}

.Flex {
  display: flex;
}

.Vertical-flex {
  display: flex;
  flex-direction: column;
}

#loginDisplayDiv {
  height: 60%;
  border: 1px #5998f4 solid;
  position: relative;
  overflow: hidden;
}

#Login-title {
  display: inline-block;
  width: auto;
  font-weight: 100;
  font-size: 80px;
  font-family: "Inter", sans-serif;
  color: #b6d3fd;
  box-shadow: 0px 0px 100px 100px white;
  z-index: 1;
  background-color: white;
}

.Center-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}

.Vertical-center {
  margin-top: auto;
}

.font-medium {
  font-size: 20px;
  margin: 0;
}

.Login-trips {
  border-radius: 12px;
  padding: 0.5rem;
  border: 1px gray solid;
  width: fit-content;
  position: absolute;
  transform: translate(-50%, -50%);
  transition: transform 1s ease-out;
  backface-visibility: hidden;
}

.Login-trips:hover {
  z-index: 2;
}

.Login-header {
  font-size: 40px;
}

.Login-div {
  height: 40%;
  background-color: #f8f8f8;
}

.black {
  color: black;
}

.Flex-evenly {
  display: flex;
  justify-content: space-evenly;
}

.Flex-space {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.Error-message {
  color: red;
  margin-bottom: 0;
  font-size: 12px;
}

#Google-logo {
  height: 30px;
  width: 30px;
}

.Page-default {
  height: 100vh;
  background-color: #fbfbfb;
  overflow: hidden;
}

#Dashboard-main-div {
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
}

#Navigation {
  /* background-color: #b6d3fd; */
  padding: 1rem;
}

#NavBarButtons {
  justify-content: end;
  display: flex;
  width: fit-content;
}

#NavBarFlex {
  justify-content: space-evenly;
  flex-direction: row;
}

#Trip-color-div {
  border: 1px #d2d2d2 solid;
  padding: 1.5rem;
  max-height: 40%;
  width: 100%;
  border-radius: 12px;
  margin-left: auto;
  margin-right: auto;
  overflow-y: auto;
}

#Dashboard-side-div {
  width: 20%;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
}

.Nav-button {
  font-size: 25px;
  margin-right: 4rem;
  color: white;
}

#Nav-title {
  font-size: 45px;
  color: white;
}

#Nav-div {
  /* margin-bottom: 2rem; */
  background-color: #6a7aee;
  box-shadow: 0px 0px 5px;
  position: relative;
  z-index: 1;
}

.badge {
  height: 10px;
  width: 10px;
  background-color: black;
  border-radius: 50%;
  color: black;
}

#Entire-new-trip-div {
  width: 80vw;
  padding: 2rem;
}

#Trip-form-div {
  width: 45%;
  height: fit-content;
  /* border: 2px #b6d3fd solid; */
  padding: 3rem;
  border-radius: 12px;
  /* background-color: #f8f8f8; */
  /* margin-left: auto; */
  margin-right: auto;
}

#Trip-lister-div {
  /* width: 20rem; */
  background-color: #f0f0f0;
  width: 15vw;
  height: 100vh;
  padding-right: 1rem;
  position: relative;
  z-index: 0;
  border: rgb(165, 159, 159) 1.5px solid;
}

#Name-div {
  /* margin-bottom: 2rem; */
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Color-picker {
  margin-bottom: 2rem;
}

#Date-pickers {
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
}
#Time-pickers {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
}

#Description-new {
  margin-bottom: 2rem;
}

.Padding-hori {
  padding-left: 1rem;
  padding-right: 1rem;
}

.Main-padding {
  padding: 2rem;
}

#Hold-trips {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  max-height: 80vh;
  overflow-y: auto;
  padding: 1rem;
  overflow-x: hidden;
  padding-bottom: 6rem;
}

.Each-trip {
  width: 100%;
  height: fit-content;
  background-color: white;
  border: 2px #b6d3fd solid;
  border-radius: 12px;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0px 0px 10px 10px #efefef;
  transition: 0.5s ease;
  position: relative;
}

.Each-trip:hover {
  transform: scale(1.08);
}

.Each-trip:has(~ .Each-trip:hover) {
  transform: translateY(-10%);
}

.Each-trip:hover ~ .Each-trip {
  transform: translateY(10%);
}

#Trip-name {
  font-size: 22px;
  margin-bottom: 0;
  font-weight: 600;
  text-transform: capitalize;
}

#Trip-date {
  font-size: 10px;
  color: #939393;
  margin-bottom: 0;
}

.Superscript-text {
  position: absolute;
  top: -1em;
  right: -1em;
  font-size: 0.6em;
  color: green;
}

#Holding-trip-name {
  width: 10rem;
  white-space: nowrap;
  overflow-x: hidden;
}

#Edit-option {
  color: green;
  margin-bottom: 0;
}

#Share-option {
  color: rgb(81, 81, 190);
  margin-bottom: 0;
}

#Delete-option {
  color: red;
  margin-bottom: 0;
}

#Trip-dashboard {
  width: 80vw;
  padding-left: 5rem;
  padding-right: 5rem;
}

#Headboard {
  width: 100%;
  height: fit-content;
  opacity: 80%;
}

#Trip-name-headboard {
  font-size: 50px;
  text-transform: capitalize;
  font-weight: bold;
  margin-bottom: 0;
}

#Trip-date-headboard {
  margin: 0;
  color: #636060;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.Vert-align {
  align-items: center;
}

.New-trip {
  font-weight: bold;
}

#New-trip-button {
  border: none;
  margin-left: 0.5rem;
}

#New-trip-div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#New-trip-div:hover {
  transform: scale(1.08);
}

#Headboard-div {
  display: flex;
  align-items: end;
  margin-right: auto;
}

.Headboard-extras {
  display: inline;
}

#Headboard-extra-div {
  display: flex;
  width: 15rem;
  justify-content: space-between;
}

.Circle {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
}

#Dashboard-trip-name {
  font-size: 15px;
  margin-left: 1rem;
  text-transform: capitalize;
  font-weight: 600;
}

#Delete-div {
  width: 30vw;
  height: 20vh;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: space-between;
  text-align: center;
}

#Delete-buttons {
  display: flex;
  justify-content: end;
}

.Trip-content-divs {
  /* width: 100%; */
  padding: 3rem;
  padding-top: 1rem;
  text-align: center;
  position: relative;
  border-radius: 12px;
  min-height: 40vh;
  background-color: white;
  /* border: 3px rgb(197, 197, 197) solid; */
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(166, 173, 201, 0.2);
}

#New-todo-p {
  font-size: 30px;
  color: #afacaf;
  margin-bottom: 0;
}

.New-border {
  border: 2px #afacaf solid;
}

.Todo-regular-div {
  border-radius: 12px;
  padding: 1rem;
  align-items: center;
  width: 100%;
  display: flex;
}

#New-todo-button {
  justify-content: space-between;
  border: 2px #afacaf solid;
}

.Todo-div {
  justify-content: space-between;
  align-items: end;
}

#Plus {
  color: #afacaf;
  height: 5rem;
  width: 5rem;
}

#Save {
  color: green;
  height: 3rem;
  width: 3rem;
}

#Cancel {
  color: red;
  height: 3rem;
  width: 3rem;
}

.Temp-new-display {
  font-size: 15px;
  color: black;
  margin-bottom: 0;
}

/* .Todo-date {
  color: #a9a9a9;
  font-size: 13px;
  margin-bottom: 0;
  text-align: left;
  margin-top: -0.5rem;
  margin-left: 0.1rem;
} */

/* .Todo-status {
  color: yellowgreen;
  font-size: 12px;
  margin-bottom: 0;
  text-align: left;
  margin-top: -0.1rem;
  margin-left: 0.1rem;
} */
.Drop-down-div {
  align-items: center;
}

.Todo-div {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.Bland-button {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  text-decoration: none;
  cursor: pointer;
}

.Temp-todo-labels {
  margin-bottom: 0;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
}

.Align-todo {
  display: flex;
  width: 100%;
  justify-content: center;
}

.Width-100 {
  width: 100%;
}

.Left-align {
  text-align: left;
  justify-items: left;
}

#Todo-description {
  font-weight: bold;
}

#Todo-deadline {
  color: #a9a9a9;
}

#Todo-description {
  font-weight: bold;
}

#Todo-list {
  overflow-y: auto;
  max-height: 50vh;
  position: relative;
}

#Todo-info {
  width: 100%;
  overflow-x: hidden;
}

#Checkbox {
  height: 100%;
  width: 50%;
}

.Appear-div {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 3rem;
}

.Appear-delete {
  background-color: #b6d3fd;
}

#Todo-action {
  width: 30%;
  display: flex;
  justify-content: space-between;
}

.Delete-button {
  opacity: 0.3;
}

.Delete-button:hover {
  opacity: 1;
}

#Delete-button-div {
  height: fit-content;
  margin-bottom: auto;
  margin-top: auto;
}

.Fit-content {
  width: fit-content;
}

.calendar_default_event_inner {
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 10pt;
  padding: 5px;
  opacity: 0.8;
}

#Hold-calendar {
  padding-right: 1rem;
  /* overflow-y: hidden; */
  /* height: 100vh; */
  /* position: fixed; */
  padding-top: auto;
  margin-top: auto;
  bottom: 0;
}

.Itinerary-day {
  width: 4rem;
}

#Itinerary-body {
}

#Itinerary-full-trip {
  width: 100%;
  font-weight: bold;
  color: black;
}

.Itinerary-item {
  padding: 0.5rem;
  color: white;
  border-radius: 12px;
  border: 1px #8cb3ee solid;
}

.Itinerary-name {
  text-align: left;
  margin: 0;
}

.Align-down {
  /* display: flex; */
  align-items: end;
}

#Itinerary-button-div {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

#Control-itinerary {
  border-radius: 12px;
  background-color: white;
  /* border: 3px rgb(197, 197, 197) solid; */
  /* box-shadow: rgb(197, 197, 197) 3px 2px 1px; */

  padding: 1rem;
  margin-top: 1rem;
}

#Entire-itinerary {
  /* border: 3px #b6d3fd solid; */
  width: 70%;
  display: flex;
  flex-direction: column;
  /* border-radius: 12px; */
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(166, 173, 201, 0.2);
}
@media (max-width: 576px) {
  .Nav-button {
    font-size: 20px;
    margin-right: 1rem;
  }
}
